.App {
    --header_height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hw {

}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hwTitle {
font-weight: bold;
margin: 40px 0 10px 15px;
position: relative;
&::after{
    content:'';
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    z-index: 10;
    overflow: auto;
    left:calc(50% + -50vw); 
    top:70px;
}
}