.button {
}

.disabled {
    color:rgb(255, 255, 255);
    background-color: rgb(55, 90, 189);
    padding: 5px 30px;
    border-radius: 5px;
    opacity: 0.5;
    font-weight: 600;
}

.secondary {
    color:rgb(25, 78, 221);
    font-size: 0;
    
    &::after{
        content: "Дополнительная";
        background-color: transparent;
        border:2px solid rgb(62, 105, 221);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
        
    }
    &:hover::after{
        content: "При наведении";
        background-color: rgba(112, 143, 228, 0.226);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
    }

    &:active::after{
        content: "При нажатии";
        background-color: rgba(112, 143, 228, 0.486);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
    }
}

.default{
    color:rgb(255, 255, 255);
    font-size: 0px;
    

    &::after{
        content: "Дефолтная";
        background-color: rgb(25, 78, 221);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
        
    }
    &:hover::after{
        content: "При наведении";
        background-color: rgb(62, 105, 221);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
    }
    &:active::after{
        content: "При нажатии";
        background-color: rgb(48, 80, 167);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
    }
}

.red {
    color:white;
    font-size: 0;
    
    &::after{
        content: "Опасность";
        background-color: rgb(201, 24, 24);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px; 
        border-radius: 5px;
        
    }
    &:hover::after{
        content: "При наведении";
        background-color: rgb(209, 49, 49);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
    }

    &:active::after{
        content: "При нажатии";
        background-color: rgb(163, 38, 38);
        font-size: 17px;
        font-weight: 600;
        padding: 5px 30px;
        border-radius: 5px;
    }
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
